* {
    font-family: 'Roboto', sans-serif;
    justify-self: center;
    line-height: 1.5;
    color: white;
}

html {
    width: auto;
    padding-left: 400px;
    padding-right: 400px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    height: 80px;
    padding-bottom: 10px;
}

h1 {
    font-size: 32px;

}
#name:hover {
    cursor: pointer;
}

a:hover {
    color: rgb(30, 135, 170);
    text-decoration-color: rgb(30, 135, 170);
}
nav li {
    display: inline-flex;
    padding: 20px 0px 25px 25px;
}

header {
    padding-top: 30px;
    text-align: center;
}

main {
    text-align: center;
}

main ul {
    padding-left: 0px;
}

main li {
    display: inline-block;
    text-align: center;
    padding: 0px 0px 15px 15px;
}

section {
    text-align: center;
}
section ul {
    padding-left: 0px;
}
section li {
    display: inline-block;
    text-align: center;
    padding: 0px 0px 15px 15px;
}
footer {
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    * {
        text-align: left;
    }
    html {
        width: 100%;
        padding: 0px;
    }
    main li {
        padding-left: 0px;
        padding-right: 20px;
    }
}
